<!-- <div class="login_bg">
  <div class="container">
    <div class="row bgPadding">
      <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/Login_bg.png" alt="analytics" />
      </div>
      <div class="col-sm-12 col-md-6 d-flex justify-content-center">
        <div class="login-form">
          <img src="../../../assets/images/logo_praesto.png" alt="logo">
          <div class="loginFields">
              <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                          <i class="fa fa-user fa-2x"></i>
                        </div>
                      </div>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="input-group mt-5">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fa fa-lock fa-2x"></i>
                    </div>
                  </div>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Password">
                </div>
                <div class="remember d-flex justify-content-end align-items-center">
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label>
                  <small>Remember me</small>
                </div>
    
                <button class="loginBtn">LOGIN</button>
                <a href="#" class="mt-4">Forgot Password?</a>
              </form>
            </div>
        </div>
        
      </div>
    </div>
  </div>
</div> -->

<section class="login-sec">
  <div class="login_bg">
    <div class="container">
      <div class="row">
        <div class="innerBg">
          <div class="col-sm-12 col-md-6 offset-md-6">
              <div class="login-form">
                  <img src="../../../assets/images/logo_praesto.png" alt="logo">
                  <div class="loginFields">
                      <form>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <i class="fa fa-user fa-2x"></i>
                                </div>
                              </div>
                          <input type="text" class="form-control" id="userName" aria-describedby="userName" placeholder="Username">
                        </div>
                        <div class="input-group mt-md-5 mt-sm-4 mt-5">
                          <div class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="fa fa-lock fa-2x"></i>
                            </div>
                          </div>
                          <input type="email" class="form-control" id="password" aria-describedby="password" placeholder="Password">
                        </div>
                        <div class="remember d-flex justify-content-end align-items-center">
                          <label class="switch">
                            <input type="checkbox">
                            <span class="slider round"></span>
                          </label>
                          <small class="text-muted">Remember me</small>
                        </div>
            
                        <button class="loginBtn">LOGIN</button>
                        <a href="#" class="mt-md-4 mt-sm-3 mt-4">Forgot Password?</a>
                      </form>
                    </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>